
.container {
  padding: 16px 0; 
  max-width: 540px;
}

.container-canva {
  margin: 16px 0; 
  height: 540px;
  background-color: rgb(244, 245, 246);
}

.draggable {
  cursor: default !important;
}

.draggable text {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: inherit;
}

.menu {
  display: flex;
}

.menu-item {
  margin: 0 8px;
}